@page "/"
<h1>Authentication Blazor Demo</h1>

<AuthorizeView>
    <Authorized>
        Welcome @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        You are not authorized. Go to <a href="/login">Log in</a>. 
        Don't have an account? Go to <a href="/registration">Sign up</a>.
    </NotAuthorized>
</AuthorizeView>

@*checkcommit*@